body {
  background: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: #522e24;
  font-size: 30px;
  font-weight: 800px;
  line-height: 1.5px;
  text-align: center;
}
.container {
  background-color: #a79e8b;
  border-radius: 5px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin: 40px auto;
  max-width: 700px;
  padding: 30px;
}
form {
  display: flex;
}
.prompt-generator {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #522e24;
  border-radius: 50px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  width: 80%;
}
.submit-button {
  background: #522e24;
  border: none;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  margin-left: 10px;
  padding: 12px 22px;
}
.short-story {
  display: flex;
  padding: 20px;
}
.scroll {
  font-size: 80px;
  margin-right: 5px;
}
.story-prompt {
  font-size: 18px;
}
a {
  color: #522e24;
}
footer {
  font-size: 14px;
  text-align: center;
}
